<p style="color: green"><%= notice %></p>

<%= render @favor_item %>

<div>
  <%= link_to "Edit this favor item", edit_favor_item_path(@favor_item) %> |
  <%= link_to "Back to favor items", favor_items_path %>

  <%= button_to "Destroy this favor item", @favor_item, method: :delete %>
</div>
